# IDE & build system
*.iml
.gradle
gradle/
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/release

# workspace helper
tmp.sh

# play store stuff
advertisement

# personal notes
literature.md